# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Webstorm
.idea

# Project
dist/

# Node.js log file
npm-debug.log.*
npm-debug.log